@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  font-family: "Nanum Gothic", Arial;
}

.txt-box {
  display: flex;
  justify-content: right;
  align-items: top;
  padding-right: 25px;
}

.txt {
  color: #595959;
  font-size: 16px;
  text-decoration: none;
}