@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  font-family: "Nanum Gothic", Arial;
}

:root {
  --header-height: 6rem;
  --header-padding-leftright: 22px;

  --search-container-width: 20rem; 
  --search-container-padding: 15px;
  --clear-icon-width: 18px;
  --clear-icon-margin: 10px;
  --search-icon-width: 24px;
  --header-font-size: 1rem;
}

.Header {
  height: var(--header-height);
  border-bottom: 1px solid #c2c2c2;
  box-sizing: border-box; /* border까지 사이즈에 포함 */
  padding-left: var(--header-padding-leftright);
  padding-right: var(--header-padding-leftright);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고, 타이틀 */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  text-decoration: none;
}
#logo {
  width: 2.5rem; height: 2.5rem;
  margin-right: 15px;
}
.header-title {
  color: #0357FF;
  font-size: 2.7rem;
}

/* 검색창, 로그인 | 마이페이지 */
.search-login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 검색창 */
.search-container {
  padding-left: var(--search-container-padding);
  padding-right: var(--search-container-padding);

  width: var(--search-container-width); 
  height: 2.5rem;
  border: 2px solid #0357FF;
  border-radius: 2rem;
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.search-container:hover {
  box-shadow: 0px 2px 5px #d6d6d6; /* 수평 수직 흐림정도 색상 */
}
#search-input {
  width: calc(var(--search-container-width) - var(--clear-icon-width) - var(--clear-icon-margin)*2 - var(--search-icon-width)); 
  height: auto;
  border: none; 
  outline: none;
  font-size: var(--header-font-size);
}
#search-input::placeholder {
  color: #c2c2c2;
  font-size: var(--header-font-size);
}
#clear-icon {
  width: var(--clear-icon-width);
  height: var(--clear-icon-width);
  margin-left: var(--clear-icon-margin);
  margin-right: var(--clear-icon-margin);
}
#clear-icon:hover {
  cursor: pointer;
}
#search-icon {
  display: flex;
  align-items: center;
}

/* 메뉴 (로그인 | 마이페이지) */
.header-menu-container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-left: var(--header-padding-leftright);
}
.header-menu a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #595959;
  font-size: var(--header-font-size);
  text-decoration: none; /* 밑줄 없앰 */

  /* 테두리 */
  padding: 4px;
  border-radius: 6px;
  background-color: transparent;
}
.header-menu a:hover {
  /* color: #0357FF; */
  /* font-weight: bold; */
  background-color: #ececec;
}
.header-menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #595959;
  font-size: 16px;
  text-decoration: none; /* 밑줄 없앰 */
}