@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  font-family: "Nanum Gothic", Arial;
}

:root {
    --category-width: 16vw;
    --category-height: 10vh;
    --category-font-size: 1.2rem;
}

.Sidebar {
    display: flex;
    width: var(--category-width) + 2vw;
    height: 100vh - var(--header-height);
    background: #f1f6ff;

    padding-bottom: 100px;
}

/* 글자들 담은 컨테이너 */
.categories-container {
    /* position: fixed; 화면이 움직여도 고정 */
    display: flex;
    height: auto;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column; /* 세로로 배열 */
}

/* 카테고리 아이콘 */
#categories-icon {
    width: 1.2em;
    height: 1.2em;
    margin-right: 10px;
}

/* $categories-btn-height: 60px; */

/* 카테고리 */
#categories-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--category-width);
    height: var(--category-height);
    background-color: #d7e4ff;

    font-size: var(--category-font-size);
    color: black;
}

.categories-list {
    /* padding: 10rem 0; */
    border: thin solid #c2c2c2;
    box-shadow: 0px 4px 5px #d6d6d6; /* 수평 수직 흐림정도 색상*/
    border-radius: 9px;
}
.categories-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    /* flex: 1 1 0; */
    width: 16vw;
    height: var(--category-height);
    background-color: transparent;
    border: none;

    font-size: var(--category-font-size);

    cursor: pointer;
}
.categories-btn:hover {
    background-color: white;
    color: #0357ff;
    font-weight: bold;
    /* text-decoration: none; */
}
