@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  font-family: "Nanum Gothic", Arial;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면의 높이의 100 */
}

.input-table-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  height: 250px;
  
  border: thin solid #c2c2c2; /* border-width border-style border-color */
  border-radius: 10px;
  box-shadow: 0px 0px 15px #c2c2c2; /* 수평 수직 blur 색상 */
  padding: 20px;
}

.login-title {
  color:#0357ff;
  font-size: 28px;
  letter-spacing: -0.5px; /* 글자 간격 */
  line-height: 1.5; /* 줄 간격, 텍스트 크기 기준 */
  
}

.txt {
  font-size: 16px;
  line-height: 1.5;
}

#id, #pw {
  width: 230px;
  height: 24px;
}
#id:focus, #pw:focus {
  outline-color: #0357ff; /* 포커스되었을 때 테두리 색 */
}

.input-table-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  text-align: left;
}
td {
  text-align: center;
  height: 35px;
}

.login-btn-outer {
  display: flex;
  justify-content: center;

  margin-bottom: 40px; /* 아래쪽 여백 */
}

.login-btn {
  color: #0357ff;
  font-size: 16px;
  background-color: white;
  border: 2px solid #d7e4ff; /* border-width border-style border-color */
  border-radius: 30px;
  padding: 8px 20px;
  cursor: pointer; /* 커서 올렸을 때 모양 변경 */
}

.login-btn:hover {
  background-color: #d7e4ff;
  color:#0357ff;
  border: 2px solid #d7e4ff;
}

.styled-link {
  text-decoration: none;
  color: #0357ff;
}
/* style={{textDecoration: 'none', color: '#0357ff'}} */