@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  font-family: "Nanum Gothic", Arial;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면의 높이의 100 */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 230px;
  
  border: thin solid #c2c2c2; /* border-width border-style border-color */
  border-radius: 10px;
  box-shadow: 0px 0px 15px #c2c2c2; /* 수평 수직 blur 색상 */
  padding: 15px;
}

.title {
  color:#0357ff;
  font-size: 28px;
}

.txt {
  font-size: 16px;
}

.input-table-outer {
  display: flex;
  justify-content: center;
}

td, th {
  text-align: left;
}

.login-btn-outer {
  display: flex;
  justify-content: center;

  margin-bottom: 40px; /* 아래쪽 여백 */
}

.login-btn {
  color: #0357ff;
  font-size: 16px;
  background-color: white;
  border: 2px solid #d7e4ff; /* border-width border-style border-color */
  border-radius: 30px;
  padding: 8px 20px;
  cursor: pointer; /* 커서 올렸을 때 모양 변경 */
  
}

.login-btn:hover {
  background-color: #d7e4ff;
  color:#0357ff;
  border: 2px solid #d7e4ff;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */