@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  font-family: "Nanum Gothic", Arial;
}

:root {
    --page-numbers-height: 55px;
}

/* 가장 바깥 div: contents 영역 */
.CategoriesResult {
    width: 100vw;
    /* height: 100vh; */

    /* style={{display:'flex', alignItems:'space-between', flexDirection: 'column'}} */
    display: flex;
    align-items: space-between;
    flex-direction: column;
}

/* page-numbers 부분 빼고 */
.contents {
    padding-left: 25px;
    padding-right: 25px;

    /* 스크롤바 */
    overflow-y: scroll; /* 세로 스크롤바 표시 */
    overflow-x: hidden; /* 가로 스크롤바 숨김 */
    height: 100vh;
}
.today-text {
    height: 60px;
    display: flex;
    align-items: center;

    color: #595959;
    font-size: 18px;
}
.article-container {
    /* 컨테이너 안 요소들 정렬 */
    display: flex;
    flex-direction: column; /* 요소들을 세로 정렬 */
    /* justify-content: flex-start; */
    align-items: flex-start;

    /* 컨테이너 사이즈, padding */
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    
    /* 컨테이너 쉐입&컬러 */
    background: #ffffff;
    border: thin solid #c2c2c2;
    box-shadow: 0px 0px 15px #c2c2c2;
    border-radius: 10px;

    /* 컨테이너 간 간격 */
    margin-bottom: 20px;
}
.bookmark-container {
    display: flex;
    justify-content: right; /* 북마크를 오른쪽 정렬하려고 한 건데... 적용 안 됨*/
    margin-bottom: 10px;
}
#bookmark {
    width: 24px; height: 24px;
}
.article-title {
    font-size: 23px;
    line-height: 1.5; /* 줄 간격, 텍스트 크기 기준 */
   
}
.article-date {
    line-height: 3; /* 줄 간격, 텍스트 크기 기준 */
}
.article-summary {
    line-height: 1.5; /* 줄 간격, 텍스트 크기 기준 */
}

.page-numbers {
    /* position: fixed;
    bottom: 0;
    left: 0; */
    /* padding: 10px; */

    height: var(--page-numbers-height);
    /* background-color: black; */
}