/* Page-Numbers

position: absolute;
width: 1167px;
height: 80px;
left: 0px;
top: 796px;



/* ◀︎ 1 2 3 4 ▶︎ 

position: absolute;
width: 123px;
height: 21px;
left: calc(50% - 123px/2);
top: 48px;

font-family: 'ABeeZee';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #595959;
 */
